<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {{#if isHome}}
      <a href="/" class="navbar-item is-active"> Main </a>
      {{else}}
      <a href="/" class="navbar-item"> Main </a>
      {{/if}}

      {{#if isAll}}
      <a href="/all" class="navbar-item is-active"> Books </a>
      {{else}}
      <a href="/all" class="navbar-item"> Books </a>
      {{/if}}

      {{#if isAdd}}
      <a href="/add" class="navbar-item is-active"> Add book </a>
      {{else}}
      <a href="/add" class="navbar-item"> Add book </a>
      {{/if}}

      {{#if isCart}}
      <a href="/cart" class="navbar-item is-active"> Cart </a>
      {{else}}
      <a href="/cart" class="navbar-item"> Cart </a>
      {{/if}}
    </div>
  </div>
</nav>
