<section class="section">
  <h1 class="title">Section</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're
    currently reading. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi non
    corporis perspiciatis iusto magni impedit molestiae quam odio quia amet. Odio et amet a ullam,
    suscipit voluptate neque eius, accusantium veritatis expedita, voluptatem quasi qui delectus
    minima reiciendis officia obcaecati corporis.
  </h2>
</section>
