<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-spaced">Section</h1>
        <h2 class="subtitle">
          A simple container to divide your page into <strong>sections</strong>, like the one you're
          currently reading. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi non
          corporis perspiciatis iusto magni impedit molestiae quam odio quia amet.
        </h2>
      </div>
      <div class="column">
        <form class="box">
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="e.g. alex@example.com" />
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="********" />
            </div>
          </div>

          <button class="button is-primary">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</section>
